<!DOCTYPE html>
<html lang="en">

<head>

  	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet" />

	<title>Home</title>
	
    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
   
    <link rel="stylesheet" href="style/category.css">
    <link rel="stylesheet" href="style/perfil.css">
    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">
	<link href="public/css/lel.css" rel="stylesheet">

	<!-- Bootstrap core CSS -->

	<!-- Additional CSS Files -->
	<link rel="stylesheet" href="assets/css/fontawesome.css" />
	<link rel="stylesheet" href="assets/css/tooplate-main.css" />
    <link rel="stylesheet" href="assets/css/owl.css" />
    
    <link rel="stylesheet" href="style/category.css">
</head>

<body>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<%- include ('partes/header') %>

<% switch(pagina) {
    case 1: %>
  <%- include ('partes/inicio') %>
  <% break
    case 2: %>
  <%- include ('partes/registro') %>
  <% break
    case 3: %>
  <%- include ('partes/login') %>
  <% break
    case 4 : %>
  <%- include ('partes/trabajo') %>
  <% break
  case 5 : %>
  <%- include ('partes/perfil') %>
  <% break
  case 6 : %>
  <%- include ('partes/conf') %>
  <% break
    default: %>
  <%- include ('partes/catgory') %>
  <% break  } %>



  <div class="container">
    <footer>
        <hr>
        <div class="row container">
            <div class="col-sm-3 col-xs-6">
                <nav class="footer-menu-section">
                    <ul style="list-style: none;">
                        <h3>iWork</h3>
                        <li><a href="#">Acerca de Nosotros</a></li>
                        <li><a href="#">Contáctenos</a></li>
                        <li><a href="#">Estadísticas de Vehículos</a></li>
                        <li><a href="#">Tendencia de precios</a></li>
                        <li><a href="#">iWork Business</a></li>
                        <li><a href="#">Resaltadores</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-3 col-xs-6">
                <nav class="footer-menu-section">
                    <ul style="list-style: none;">
                        <h3>Noticia</h3>
                        <li><a href="#">Nuevas Noticias</a></li>
                        <li><a href="#">Foro de Usuarios</a></li>
                        <li><a href="#">Registro</a></li>
                        <li><a href="#">Eventos</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-3 col-xs-6">
                <nav class="footer-menu-section">
                    <ul style="list-style: none;">
                        <h3>Ayuda</h3>
                        <li><a href="#">Como registarse</a></li>
                        <li><a href="#">Crear </a></li>
                        <li><a href="#">Uso</a></li>
                        <li><a href="#">Politica de Privacidad</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-3 col-xs-6">
                <nav class="footer-menu-section">
                    <ul style="list-style: none;">
                        <h3>Créditos</h3>
                        <li><a href="#">Marco</a></li>
                        <li><a href="#">William</a></li>
                        <li><a href="#">Leonel</a></li>
                        <li><a href="#">Rene</a></li>
                        <li><a href="#">Severiano</a></li>
                    </ul>
                </nav>
            </div>
    </footer>
</div>
<div class="container">
    <footer>
        <div class="container">
            <hr><br>
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <a href="#"><img class="rondered-circle" src="public/images/logo_name1.png" alt=""
                            width="90px"></a>
                    <br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <h4>
                        <p>2020 iWork.com</p>
        
                    </h4>
                </div>
                <a href="#" style="color: white;">-<img class="rondered-circle" src="public/images/21155.png" alt=""
                        width="30px"></a>
                <a href="#" style="color: white;">-<img class="rondered-circle" src="public/images/ig.png" alt=""
                        width="30px"></a>
                <a href="#" style="color: white;">-<img class="rondered-circle" src="public/images/tw.png" alt=""
                        width="30px"></a>
            </div>
        </div><br><br>

    </footer>
</div>

 
</body>